# ESP32-S3 Target
CONFIG_IDF_TARGET="esp32s3"

# Enable ThorVG for SVG support in LVGL
CONFIG_LV_USE_THORVG=y
CONFIG_LV_USE_SVG=y
CONFIG_LV_USE_VECTOR_GRAPHIC=y
CONFIG_LV_USE_DRAW_SW=y
CONFIG_LV_USE_PNG=y
CONFIG_LV_USE_BMP=y
# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
